html {
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
    background: url(../images/whiteBackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Kurale, sans-serif;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

main {
    margin-top: 8rem;
}

.btnWrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

button {
    border: none;
    width: 7rem;
    height: 3rem;
    margin: 1rem;
    background: white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 3px 3px #848484;
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
}

button:active {
  box-shadow: 0 5px 5px #666;
  transform: translateY(4px);
  -ms-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -o-transform: translateY(4px);
}

#uploadWrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.upload { 
    margin-bottom: 20px;
    position: relative;
    cursor: pointer !important;
    background: #ff5a4e;
    padding: 10px 20px;
    border: 2px solid transparent;
    color: #fff;
    border-radius: 5px;
}

#chooseImg {
    cursor: pointer;
    display: block;
    position:absolute !important;
    top:0 !important;
    left: 0 !important;
    opacity:0;
    -moz-opacity:0;
    background: red;
    z-index: 2;
    width:100%;
    height: 100%;
}

.inputWrapper {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    justify-content: center;
}

.inputColumn {
    width: 25rem; 
    position: relative;
}

#input {
    background: none;
    display: block;
    width: 100%;
    height: 2rem;
    text-indent: 2%;
    border: 0; 
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
}

#input::placeholder {
    color: black;
}

#input:focus {
    outline: none;
}

#input ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ff5a4e;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
}

#input:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    left: 0;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    background-color: white;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
	background-color: #ff5a4e;
}

.wrapper {
    text-align: center;
}

.wrapper0 {
    width: 400px;
    height: 300px;
}

#firstImg0 {
	width: 400px;
	height: 300px;
}

#secondImg0 {
    width: 400px;
    height: 300px;
	clip: rect(0, 200px, 300px, 0);
}

.wrapper1, .wrapper2 {
    width: 600px;
    height: 400px;
}

#firstImg1, #firstImg2 {
    width: 600px;
    height: 400px;
}

#secondImg1, #secondImg2 {
    width: 600px;
    height: 400px;
    clip: rect(0, 300px, 400px, 0);
}

.wrapper3 {
    width: 600px;
    height: 500px;
}

#firstImg3 {
    width: 600px;
    height: 500px;
}

#secondImg3 {
    width: 600px;
    height: 500px;
	clip: rect(0, 300px, 500px, 0);
}

.wrapper4 {
    width: 400px;
    height: 800px;
}

#firstImg4 {
    width: 400px;
    height: 800px;
}

#secondImg4 {
    width: 400px;
    height: 800px;
	clip: rect(0, 200px, 800px, 0);
}

.wrapper5, .wrapper6 {
    width: 600px;
    height: 700px;
}

#firstImg5, #firstImg6  {
    width: 600px;
    height: 700px;
}

#secondImg5, #secondImg6 {
    width: 600px;
    height: 700px;
	clip: rect(0, 300px, 700px, 0);
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
}

.overlay img {
    border-radius: 5px;
}

.moveBtn {
    z-index: 2;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 45%;
    top: 45%;
    cursor: grab;
}

.firstImg {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    left: 0;
    position: absolute;
}

.secondImg {
    left: 0;
    position: absolute;
    z-index: 2;
}

.headerContainer {
    width: 100%;
    position: relative;
    z-index: 3;
}

.header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7rem;
    text-align: center;
    background-image: linear-gradient(to right, rgba(50, 50, 50, .95), rgba(200,200,200,.95));
    box-shadow: 0 0 8px 0 rgba(50, 0, 255, .95);
    transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    z-index: 3;
}

h1 {
	text-align: center;
    margin-top: .2rem;
    margin-bottom: .5rem;
}

 
h2 {
	font-size: 4rem;
	text-align: center;
    display: block;
    width: 100%;
}

p {
    text-align: center;
}

.container {
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.goToTopBtn {
    display: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: fixed;
    bottom: 6rem;
    right: 1.5rem;
    z-index: 999;
}

/*------------------------Popups-------------------------*/
    
.popUpInfo {
    display: none;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    min-height: 900px;
    background: rgba(210,220,225,.8);
    top: 0;
}

.popUpInfo h2 {
    font-size: 2rem;
}

.popupCont {
    display: block;
    position: fixed;
    width: 40rem;
    background: #fff;
    padding:3em;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    background-image: linear-gradient(to right,white, lightgray);
}

.popupContent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .3;
    border-radius: 10px;
}

.popupBtnsWrapper {
    position: absolute;
    width: 100%;
    bottom: 3rem;
    left: 0;
    margin-top: 2rem;
    text-align: center;
}

.popupBtn {
    padding: .7rem;
    width: 7rem;
    margin: auto;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor:pointer;
}

.Xbtn {
    display: block;
    position: absolute;
    width:25px;
    height:25px;
    background:url(../images/closeBtn.png) no-repeat top center;
    background-Size:100% auto;
    top: 1em;
    right: 1em;
    cursor:pointer;
}

@media only screen and (max-width: 850px) {
    .popupCont {
        width: 80%;
    }
}

@media only screen and (min-width: 765px) {
    .upload:hover {
        background: #fff;
        padding: 10px 20px;
        border: 2px solid #ff5a4e;
        color: #ff5a4e;
    }
}

@media only screen and (max-width: 765px) {

    .popupCont {
        top: 6%;
    }

    .wrapper0 {
        width: 300px;
        height: 200px;
    }

    #firstImg0 {
        width: 300px;
        height: 200px;
    }
    
    #secondImg0 {
        width: 300px;
        height: 200px;
        clip: rect(0, 150px, 200px, 0);
    }
    
    .wrapper1, .wrapper2 {
        width: 400px;
        height: 200px;
    }

    #firstImg1, #firstImg2 {
        width: 400px;
        height: 200px;
    }
    
    #secondImg1, #secondImg2 {
        width: 400px;
        height: 200px;
        clip: rect(0, 200px, 200px, 0);
    }
    
    .wrapper3 {
        width: 400px;
        height: 300px;
    }

    #firstImg3 {
        width: 400px;
        height: 300px;
    }
    
    #secondImg3 {
        width: 400px;
        height: 300px;
        clip: rect(0, 200px, 300px, 0);
    }
    
    .wrapper4 {
        width: 300px;
        height: 600px;
    }

    #firstImg4 {
        width: 300px;
        height: 600px;
    }

    #secondImg4 {
        width: 300px;
        height: 600px;
        clip: rect(0, 150px, 600px, 0);
    }
    
    .wrapper5, .wrapper6 {
        width: 400px;
        height: 500px;
    }

    #firstImg5, #firstImg6  {
        width: 400px;
        height: 500px;
    }
    
    #secondImg5, #secondImg6 {
        width: 400px;
        height: 500px;
        clip: rect(0, 200px, 500px, 0);
    }
}

@media only screen and (max-width: 600px) {
    .popupCont {
        width: 65%;
    }

    .popUpInfo h2 {
        font-size: 1.5rem;;
    }
}

@media only screen and (max-width: 440px) {

    .inputColumn {
        width: 15rem; 
    }

    .wrapper1, .wrapper2 {
        width: 300px;
        height: 200px;
    }

    #firstImg1, #firstImg2 {
        width: 300px;
        height: 200px;
    }
    
    #secondImg1, #secondImg2 {
        width: 300px;
        height: 200px;
        clip: rect(0, 150px, 200px, 0);
    }
    
    .wrapper3 {
        width: 300px;
        height: 200px;
    }

    #firstImg3 {
        width: 300px;
        height: 200px;
    }
    
    #secondImg3 {
        width: 300px;
        height: 200px;
        clip: rect(0, 150px, 200px, 0);
    }
    
    .wrapper4 {
        width: 300px;
        height: 600px;
    }

    #firstImg4 {
        width: 300px;
        height: 600px;
    }

    #secondImg4 {
        width: 300px;
        height: 600px;
        clip: rect(0, 150px, 600px, 0);
    }
    
    .wrapper5, .wrapper6 {
        width: 300px;
        height: 400px;
    }
    
    #firstImg5, #firstImg6  {
        width: 300px;
        height: 400px;
    }
    
    #secondImg5, #secondImg6 {
        width: 300px;
        height: 400px;
        clip: rect(0, 150px, 400px, 0);
    }
}
